name: Deploy auth0 configuration

on:
  push:
    branches:
      - saga

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AUTH0_DOMAIN: distributeaid.eu.auth0.com
  AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
  AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
  AUTH0_MANAGEMENT_CLIENT_ID: ${{ secrets.AUTH0_MANAGEMENT_CLIENT_ID }}
  AUTH0_MANAGEMENT_CLIENT_SECRET: ${{ secrets.AUTH0_MANAGEMENT_CLIENT_SECRET }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Keep npm cache around to speed up installs
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - run: node --unhandled-rejections=strict deploy.mjs
      - run: node --unhandled-rejections=strict clients.mjs
      - name: Semantic release
        run: |
          npm i --no-save semantic-release
          npx semantic-release
